In [1]:
# #==== CreateDataBase =====
# import duckdb
# CON_STG_DB = duckdb.connect("./data/stagging.db")
# CON_WAREHOUSE_DB = duckdb.connect("./data/warehouse.db")

In [2]:
# CON_STG_DB.sql("""CREATE TABLE options_trading (
#     QUOTE_UNIXTIME INTEGER,
#     QUOTE_READTIME TIMESTAMP,
#     QUOTE_DATE DATE,
#     QUOTE_TIME_HOURS DOUBLE,
#     UNDERLYING_LAST DOUBLE,
#     EXPIRE_DATE DATE,
#     EXPIRE_UNIX INTEGER,
#     DTE DOUBLE,
#     C_DELTA DOUBLE,
#     C_GAMMA DOUBLE,
#     C_VEGA DOUBLE,
#     C_THETA DOUBLE,
#     C_RHO DOUBLE,
#     C_IV DOUBLE,
#     C_VOLUME DOUBLE,
#     C_LAST DOUBLE,
#     C_SIZE TEXT,
#     C_BID DOUBLE,
#     C_ASK DOUBLE,
#     STRIKE DOUBLE,
#     P_BID DOUBLE,
#     P_ASK DOUBLE,
#     P_SIZE TEXT,
#     P_LAST DOUBLE,
#     P_DELTA DOUBLE,
#     P_GAMMA DOUBLE,
#     P_VEGA DOUBLE,
#     P_THETA DOUBLE,
#     P_RHO DOUBLE,
#     P_IV DOUBLE,
#     P_VOLUME DOUBLE,
#     STRIKE_DISTANCE DOUBLE,
#     STRIKE_DISTANCE_PCT DOUBLE,
#     SYMBOL TEXT,
#     INTRINSIC_VALUE DOUBLE
# );""")

In [3]:
# CON_WAREHOUSE_DB.sql("""CREATE TABLE options_trading (
#     ID TEXT PRIMARY KEY,
#     INDEX SMALLINT ,
#     QUOTE_UNIXTIME INTEGER,
#     QUOTE_READTIME TIMESTAMP,
#     QUOTE_DATE DATE,
#     QUOTE_TIME_HOURS DOUBLE,
#     UNDERLYING_LAST DOUBLE,
#     EXPIRE_DATE DATE,
#     EXPIRE_UNIX INTEGER,
#     DTE DOUBLE,
#     C_DELTA DOUBLE,
#     C_GAMMA DOUBLE,
#     C_VEGA DOUBLE,
#     C_THETA DOUBLE,
#     C_RHO DOUBLE,
#     C_IV DOUBLE,
#     C_VOLUME DOUBLE,
#     C_LAST DOUBLE,
#     C_SIZE TEXT,
#     C_BID DOUBLE,
#     C_ASK DOUBLE,
#     STRIKE DOUBLE,
#     P_BID DOUBLE,
#     P_ASK DOUBLE,
#     P_SIZE TEXT,
#     P_LAST DOUBLE,
#     P_DELTA DOUBLE,
#     P_GAMMA DOUBLE,
#     P_VEGA DOUBLE,
#     P_THETA DOUBLE,
#     P_RHO DOUBLE,
#     P_IV DOUBLE,
#     P_VOLUME DOUBLE,
#     STRIKE_DISTANCE DOUBLE,
#     STRIKE_DISTANCE_PCT DOUBLE,
#     SYMBOL TEXT,
#     INTRINSIC_VALUE DOUBLE
# );""")

In [4]:
!pip install clickhouse-sqlalchemy
!pip install clickhouse_connect

Requirement already satisfied: clickhouse-sqlalchemy in /venv/lib/python3.10/site-packages (0.3.2)
Requirement already satisfied: asynch>=0.2.2 in /venv/lib/python3.10/site-packages (from clickhouse-sqlalchemy) (0.2.5)
Requirement already satisfied: clickhouse-driver>=0.1.2 in /venv/lib/python3.10/site-packages (from clickhouse-sqlalchemy) (0.2.9)
Requirement already satisfied: requests in /venv/lib/python3.10/site-packages (from clickhouse-sqlalchemy) (2.32.3)
Requirement already satisfied: sqlalchemy<2.1.0,>=2.0.0 in /venv/lib/python3.10/site-packages (from clickhouse-sqlalchemy) (2.0.36)
Requirement already satisfied: ciso8601 in /venv/lib/python3.10/site-packages (from asynch>=0.2.2->clickhouse-sqlalchemy) (2.3.1)
Requirement already satisfied: leb128 in /venv/lib/python3.10/site-packages (from asynch>=0.2.2->clickhouse-sqlalchemy) (1.0.8)
Requirement already satisfied: lz4 in /venv/lib/python3.10/site-packages (from asynch>=0.2.2->clickhouse-sqlalchemy) (4.3.3)
Requirement already satisfied: pytz in /venv/lib/python3.10/site-packages (from asynch>=0.2.2->clickhouse-sqlalchemy) (2024.2)
Requirement already satisfied: tzlocal in /venv/lib/python3.10/site-packages (from asynch>=0.2.2->clickhouse-sqlalchemy) (5.2)
Requirement already satisfied: zstd in /venv/lib/python3.10/site-packages (from asynch>=0.2.2->clickhouse-sqlalchemy) (1.5.5.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /venv/lib/python3.10/site-packages (from sqlalchemy<2.1.0,>=2.0.0->clickhouse-sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /venv/lib/python3.10/site-packages (from sqlalchemy<2.1.0,>=2.0.0->clickhouse-sqlalchemy) (3.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /venv/lib/python3.10/site-packages (from requests->clickhouse-sqlalchemy) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /venv/lib/python3.10/site-packages (from requests->clickhouse-sqlalchemy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /venv/lib/python3.10/site-packages (from requests->clickhouse-sqlalchemy) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /venv/lib/python3.10/site-packages (from requests->clickhouse-sqlalchemy) (2024.8.30)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: clickhouse_connect in /venv/lib/python3.10/site-packages (0.8.6)
Requirement already satisfied: certifi in /venv/lib/python3.10/site-packages (from clickhouse_connect) (2024.8.30)
Requirement already satisfied: urllib3>=1.26 in /venv/lib/python3.10/site-packages (from clickhouse_connect) (2.2.3)
Requirement already satisfied: pytz in /venv/lib/python3.10/site-packages (from clickhouse_connect) (2024.2)
Requirement already satisfied: zstandard in /venv/lib/python3.10/site-packages (from clickhouse_connect) (0.23.0)
Requirement already satisfied: lz4 in /venv/lib/python3.10/site-packages (from clickhouse_connect) (4.3.3)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import os,h5py
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from IPython.display import clear_output
import joblib
import random
import hashlib
import uuid
from tqdm.notebook import  tqdm

In [3]:
class Scaler:
    def __init__(self, keys, create=False, path="./data/scaler/"):
        self.scaler = {}
        # self._scale = scale
        self._keys = keys
        self._path = path
        self._creatScaler(create)

    def __call__(self):
        return self.scaler

    @property
    def keys(self):
        return self._keys

    def _creatScaler(self, create):
        if not os.path.exists(self._path):
            os.makedirs(self._path)

        dir_list = os.listdir(self._path)

        for k in self._keys:
            self.scaler[k] = None
            for dir in dir_list:
                if k in dir:
                    print(f"[Load-{k}] : ", self._path + dir)
                    self.scaler[k] = joblib.load(self._path + dir)

            if k not in self.scaler.keys() or create:
                print(
                    f"[Set] : [{k}] - {StandardScaler()} ",
                )
                self.scaler[k] = StandardScaler()

    def save(self):
        for k in self.scaler.keys():
            joblib.dump(self.scaler[k], self._path + f"scaler_{k}.gz")

    def groupTransform(self, c, data, **kwargs):
        # ------------------ customize --------------------
        if c in kwargs["QUOTE_COL"]:
            return self.scaler["QUOTE"].transform(data)
        elif c in kwargs["VEGA_COL"]:
            return self.scaler["VEGA"].transform(data)
        elif c in kwargs["VOLUME_COL"]:
            return self.scaler["VOLUME"].transform(data)
        else:
            return self.scaler[c].transform(data)

In [4]:
CSV_PATH     = '/app/raw/OptionsEOD.csv/'
##create @ part 1
##PARQUET_PATH = './data/OptionsEOD.parquet'
##create @ part 2
##PARQUET_STG_PATH = './data/OptionsEOD_STG.parquet'
SCALER_COL  = [ 'UNDERLYING_LAST','STRIKE','STRIKE_DISTANCE','INTRINSIC_VALUE','DTE','C_VEGA','P_VEGA',	'C_BID',	'C_ASK', 'C_VOLUME',  'P_BID',	'P_ASK', 'P_VOLUME' ]
ZERO_STRIKE_COL = [ 'C_DELTA','C_GAMMA', 'C_VEGA', 'C_THETA', 'C_RHO', 'C_IV', 'C_VOLUME', 'C_LAST', 'C_SIZE', 'C_BID', 'C_ASK', 
                   'STRIKE', 'P_BID', 'P_ASK', 'P_SIZE', 'P_LAST', 'P_DELTA', 'P_GAMMA', 'P_VEGA', 'P_THETA', 'P_RHO', 'P_IV','P_VOLUME', 
                   'STRIKE_DISTANCE', 'STRIKE_DISTANCE_PCT','INTRINSIC_VALUE']
#create @ part 3
OTHER_COL = ['SYMBOL','QUOTE_UNIXTIME', 'EXPIRE_UNIX']
DATETIME_COLUMNS = ['EXPIRE_DATE', 'QUOTE_DATE', 'QUOTE_READTIME']
QUOTE_COL = ['C_BID',	'C_ASK',  'P_BID',	'P_ASK']
VEGA_COL =  ["C_VEGA","P_VEGA"] 
VOLUME_COL =  ["TOTAL_VOLUME","C_VOLUME","P_VOLUME"] 

SCALER_QUOTE_COL = [i for i,v in enumerate(SCALER_COL) if v in QUOTE_COL]
SCALER_VEGA_COL = [i for i,v in enumerate(SCALER_COL) if v in VEGA_COL]
SCALER_VOLUME_COL = [i for i,v in enumerate(SCALER_COL) if v in VOLUME_COL]
SCALER_OTHER_COL = [i for i,v in enumerate(SCALER_COL) if v not in QUOTE_COL+VEGA_COL+VOLUME_COL ]


UNIQUE_KEYS = ['SYMBOL','EXPIRE_DATE']
MAX_OPTIONS_LEN = 16
RM_STRIKE_LEN = 3
#==== Create options_qoute
options_qoute = {}

In [5]:
#example data
EOD_CSV = pd.read_csv(CSV_PATH+"qqq/qqq_eod_201201.txt", engine='pyarrow')
EOD_CSV.head()

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1325624400,2012-01-03 16:00,2012-01-03,16.0,56.9,2012-01-06,1325883600,3.0,1.000000,0.000000,...,0.000000,-0.003130,0.002320,0.000350,-0.004080,0.000000,0.793590,,10.9,0.192
1,1325624400,2012-01-03 16:00,2012-01-03,16.0,56.9,2012-01-06,1325883600,3.0,1.000000,0.000000,...,0.000000,-0.003580,0.002780,0.000530,-0.004420,-0.000420,0.721270,,9.9,0.174
2,1325624400,2012-01-03 16:00,2012-01-03,16.0,56.9,2012-01-06,1325883600,3.0,1.000000,0.000000,...,0.000000,-0.004040,0.003340,0.000950,-0.004350,-0.000430,0.648640,,8.9,0.156
3,1325624400,2012-01-03 16:00,2012-01-03,16.0,56.9,2012-01-06,1325883600,3.0,1.000000,0.000000,...,0.010000,-0.004390,0.004150,0.001170,-0.004050,-0.000330,0.577770,0.000000,7.9,0.139
4,1325624400,2012-01-03 16:00,2012-01-03,16.0,56.9,2012-01-06,1325883600,3.0,0.971540,0.016360,...,0.010000,-0.004860,0.005270,0.001370,-0.004140,0.000000,0.507560,0.000000,6.9,0.121

In [6]:
#create 
import clickhouse_connect  
clickhouse_client = clickhouse_connect.get_client(user='tensorflow',password='tensorflow',host='host.containers.internal', port=8123, database='stagging')

from sqlalchemy import create_engine
connection_stagging = 'clickhouse://tensorflow:tensorflow@host.containers.internal:8123/stagging'
clickhouse_stagging_engine = create_engine(connection_stagging)

In [7]:
############## STAGGING #################

In [8]:
# CSV_PATH = '/app/raw/OptionsEOD.csv/'
# d = 'qqq'
# f = 'qqq_eod_201402.txt'

def transform_I() :
    for d in os.listdir(CSV_PATH) :
        for f in tqdm( os.listdir(CSV_PATH+f"{d}/" )[:] , desc=f"SYMBOL-{d}" ):
            if f.endswith(".txt"):
                ## load
                print( f"[LOAD] : {CSV_PATH}{d}/{f}        ",end='\r')
                
                EOD_CSV = pd.read_csv(CSV_PATH+f"{d}/"+f, low_memory=False )
                    
                ## rename col.
                for c in EOD_CSV.columns:
                    EOD_CSV = EOD_CSV.rename( columns={ c:c.strip().replace(']','').replace('[','') } )
                
                ## add symbol 
                EOD_CSV['SYMBOL'] = d.upper()
                
                ## add INTRINSIC_VALUE
                EOD_CSV['INTRINSIC_VALUE'] = EOD_CSV['UNDERLYING_LAST'] - EOD_CSV['STRIKE']
                
                EOD_CSV.dropna(subset=SCALER_COL)
    
    
                # date columns convert to datetime
                for c in ["QUOTE_READTIME","QUOTE_DATE","EXPIRE_DATE"]:
                    EOD_CSV[c] = pd.to_datetime(EOD_CSV[c])
                # # Convert datetime columns to string using strftime
                EOD_CSV['EXPIRE_DATE'] = EOD_CSV['EXPIRE_DATE'].dt.strftime('%Y-%m-%d')
                EOD_CSV['QUOTE_DATE'] = EOD_CSV['QUOTE_DATE'].dt.strftime('%Y-%m-%d')
                EOD_CSV['QUOTE_READTIME'] = EOD_CSV['QUOTE_READTIME'].dt.strftime('%Y-%m-%d %H:%M:%S')
                
    
                
                #clean float data
                for c in ['INTRINSIC_VALUE','C_DELTA','C_GAMMA','C_VEGA','C_THETA','C_RHO','C_IV','C_VOLUME','C_LAST','C_BID','C_ASK','STRIKE','P_BID','P_ASK','P_LAST','P_DELTA','P_GAMMA','P_VEGA','P_THETA','P_RHO','P_IV','P_VOLUME','STRIKE_DISTANCE','STRIKE_DISTANCE_PCT']:
                    if EOD_CSV[c].dtype not in ( 'float32','float64'):
                        EOD_CSV[c] = EOD_CSV[c].apply(lambda x: x.strip())
                        EOD_CSV[c] = EOD_CSV[c].replace('', np.nan).fillna(np.nan)
                        EOD_CSV[c] = EOD_CSV[c].astype('float64')
                    if EOD_CSV[c].dtype == 'float32':
                        EOD_CSV[c] = EOD_CSV[c].astype('float64')
    
                # Convert any necessary columns to the appropriate types for ClickHouse
                EOD_CSV['C_SIZE'] = EOD_CSV['C_SIZE'].astype(str)
                EOD_CSV['P_SIZE'] = EOD_CSV['P_SIZE'].astype(str)
                EOD_CSV['SYMBOL'] = EOD_CSV['SYMBOL'].astype(str)
                
                
                # # For columns that need UInt32 or UInt64, also handle NaN or invalid values
                # EOD_CSV['QUOTE_UNIXTIME'] = EOD_CSV['QUOTE_UNIXTIME'].fillna(0).astype('UInt32')  # Fill NaN with 0 for UInt32 columns
                # EOD_CSV['EXPIRE_UNIX'] = EOD_CSV['EXPIRE_UNIX'].fillna(0).astype('UInt32')
    
                # EOD_CSV['C_VOLUME'] = EOD_CSV['C_VOLUME'].fillna(0).astype('UInt64')  # Convert to UInt64
                # EOD_CSV['P_VOLUME'] = EOD_CSV['P_VOLUME'].fillna(0).astype('UInt64')
                
                # # For columns that should be of type float64 (for example, 'C_LAST', 'DTE'), you can use:
                # EOD_CSV['DTE'] = EOD_CSV['DTE'].fillna(0).astype('float64')
                # EOD_CSV['C_LAST'] = EOD_CSV['C_LAST'].fillna(0).astype('float64')
    
                # Convert the DataFrame to CSV format (without the index)
                #csv_data = EOD_CSV.to_csv(index=False)
                # Insert data into ClickHouse using the CSV format

                #clickhouse
                #clickhouse_client.insert('stagging.options_trading', EOD_CSV)

                #duckdb
                #CON_STG_DB.sql("INSERT INTO options_trading SELECT * FROM EOD_CSV")

                #paands
                EOD_CSV.to_sql(   "options_trading", con=clickhouse_stagging_engine,  if_exists='append', index=False )

In [9]:
#transform_I()

In [ ]:
# Query the data to verify insertion
# result = CON_STG_DB.execute('SELECT * FROM options_trading limit 100').fetchall()

In [ ]:
############## DATAWAREHOUSE #################

In [10]:
SCALER = Scaler(
    [v for v in SCALER_COL if v not in QUOTE_COL+VEGA_COL+VOLUME_COL ] + ['QUOTE','VEGA','VOLUME']
    , create=True
    , path="./data/scaler/")

[Load-UNDERLYING_LAST] :  ./data/scaler/scaler_UNDERLYING_LAST.gz
[Set] : [UNDERLYING_LAST] - StandardScaler()
[Load-STRIKE] :  ./data/scaler/scaler_STRIKE.gz
[Load-STRIKE] :  ./data/scaler/scaler_STRIKE_DISTANCE.gz
[Set] : [STRIKE] - StandardScaler()
[Load-STRIKE_DISTANCE] :  ./data/scaler/scaler_STRIKE_DISTANCE.gz
[Set] : [STRIKE_DISTANCE] - StandardScaler()
[Load-INTRINSIC_VALUE] :  ./data/scaler/scaler_INTRINSIC_VALUE.gz
[Set] : [INTRINSIC_VALUE] - StandardScaler()
[Load-DTE] :  ./data/scaler/scaler_DTE.gz
[Set] : [DTE] - StandardScaler()
[Load-QUOTE] :  ./data/scaler/scaler_QUOTE.gz
[Set] : [QUOTE] - StandardScaler()
[Load-VEGA] :  ./data/scaler/scaler_VEGA.gz
[Set] : [VEGA] - StandardScaler()
[Load-VOLUME] :  ./data/scaler/scaler_VOLUME.gz
[Set] : [VOLUME] - StandardScaler()

In [159]:
# Query ClickHouse and load data into a Pandas DataFrame
query = """SELECT SYMBOL,EXPIRE_DATE FROM stagging.options_trading
WHERE QUOTE_DATE >= addMonths(EXPIRE_DATE, -3) 


GROUP BY SYMBOL,EXPIRE_DATE
ORDER BY SYMBOL,EXPIRE_DATE"""  # Replace 'your_table' with your table name
data = clickhouse_client.query(query).result_rows  # Fetch data as a list of tuples
column_names = clickhouse_client.query(query).column_names  # Fetch column names

# Create a DataFrame from the result
DF_UNIQUE_KEYS = pd.DataFrame(data, columns=column_names)

MAX_OPTION_LEN = 16
STRIKE_SELECT = []
RM_STRIKE = []
ID = None
ref_key_symbol = None
ref_key_expire = None

In [160]:
connection_warehouse = 'clickhouse://tensorflow:tensorflow@host.containers.internal:8123/warehouse'
clickhouse_warehouse_engine = create_engine(connection_warehouse)

In [ ]:
for i,keys in tqdm( DF_UNIQUE_KEYS[:].iterrows() ,total = len(DF_UNIQUE_KEYS) ):
    key_symbol = keys['SYMBOL']
    key_expire = keys['EXPIRE_DATE'].strftime('%Y-%m-%d')
    
    query = f"""SELECT * FROM stagging.options_trading
            WHERE
            SYMBOL = '{key_symbol}'
            AND EXPIRE_DATE = '{key_expire}'
            ORDER BY SYMBOL,EXPIRE_DATE,QUOTE_DATE DESC , STRIKE DESC """ 
    data = clickhouse_client.query(query).result_rows  # Fetch data as a list of tuples
    column_names = clickhouse_client.query(query).column_names  # Fetch column names
    DF_DATA = pd.DataFrame(data, columns=column_names)

    for quote in  DF_DATA['QUOTE_DATE'].drop_duplicates().values:
        
        DF = DF_DATA[ DF_DATA['QUOTE_DATE']==quote ]
        
        #select strike
        if not len(STRIKE_SELECT)  or (key_symbol,key_expire) != (ref_key_symbol,ref_key_expire):
            last = np.average( DF_DATA[ DF_DATA['QUOTE_DATE']==min(DF_DATA['QUOTE_DATE']) ]['UNDERLYING_LAST'].values )
            inttrinsic = DF['STRIKE'] - last
            STRIKE_SELECT = DF[inttrinsic.abs().isin(inttrinsic.abs().sort_values()[:MAX_OPTION_LEN] )  ]['STRIKE'].values
            RM_STRIKE = [*STRIKE_SELECT[:2] ] + [*STRIKE_SELECT[-2:] ]
            ID = uuid.uuid4()
            SCALER.save()
            #clear_output(wait = False)      
            
        #strike index
        rm_strike_index = DF[ ~DF['STRIKE'].isin(STRIKE_SELECT) ].index
        DF = DF.drop(rm_strike_index)
    
        ##order columns
        DF['INDEX'] = [f'{i}' for i in range(0, len(DF))]
        ##convert dtype
        DF['INDEX'] = DF['INDEX'].astype(np.int16)
        
        #strike columns zero
        DF.loc[ (DF['STRIKE'].isin(RM_STRIKE)) , ZERO_STRIKE_COL    ] = 0.0
        
        #break loops when df < X
        if len(DF) < 5 : 
            print(f"""sym:{key_symbol}|exp:{key_expire}|quote:{key_quote} -> break (less rows)""")
            ref_key_symbol = key_symbol
            ref_key_expire = key_expire
            #continue 
            break
        
        DF[SCALER_COL] = DF[SCALER_COL].fillna(0).infer_objects()
        
        if len(DF) == MAX_OPTION_LEN and not np.isnan( np.sum( DF[SCALER_COL].values ) ) :
            DATA  = np.empty((0,) + ( MAX_OPTION_LEN,len(SCALER_COL) ) )
            DATA = np.vstack((DATA ,[DF[SCALER_COL]]))
            
            if len(DATA) :
                #========================== partial_fit ================================#
                for col_i in SCALER_OTHER_COL:
                    SCALER()[SCALER_COL[col_i]].partial_fit( DATA.reshape(-1, len(SCALER_COL))[:,[col_i]] )
                SCALER()['QUOTE'].partial_fit( DATA.reshape(-1, len(SCALER_COL))[:,SCALER_QUOTE_COL].reshape(-1, 1) )
                SCALER()['VEGA'].partial_fit( DATA.reshape(-1, len(SCALER_COL))[:,SCALER_VEGA_COL].reshape(-1, 1) )
                SCALER()['VOLUME'].partial_fit( DATA.reshape(-1, len(SCALER_COL))[:,SCALER_VOLUME_COL].reshape(-1, 1) )
                
        DF['ID'] = ID
        DF['ID'] = DF['ID'].astype(str)
        #CON_WAREHOUSE_DB.sql("INSERT INTO options_trading SELECT * FROM DF")
        #clickhouse_client.insert.('warehouse.options_trading', DF)
        #clickhouse_client_driver.execute("INSERT INTO warehouse.options_trading VALUES", DF.to_dict('records'))
        DF.to_sql(   "options_trading", con=clickhouse_warehouse_engine,  if_exists='append', index=False )
        ref_key_symbol = key_symbol
        ref_key_expire = key_expire
    
    SCALER.save()

  0%|          | 0/4388 [00:00<?, ?it/s]

sym:QQQ|exp:2013-03-15|quote:2014-02-27 -> break (less rows)
sym:QQQ|exp:2013-07-19|quote:2014-02-27 -> break (less rows)

87.40000000000002

array([90.  , 89.63, 89.5 , 89.  , 88.63, 88.5 , 88.  , 87.63, 87.5 ,
       87.  , 86.63, 86.5 , 86.  , 85.63, 85.5 , 85.  ])

16

0      110.00
1      109.63
2      109.00
3      108.63
4      108.00
        ...
109     58.63
110     57.63
111     56.63
112     55.63
113     54.63
Name: STRIKE, Length: 114, dtype: float64

In [151]:
last

87.40000000000002

In [133]:
DF = DF_DATA[ DF_DATA['QUOTE_DATE']==quote ]

In [ ]:
DF[ DF['INTRINSIC_VALUE'].abs().isin(DF['INTRINSIC_VALUE'].abs().sort_values()[:MAX_OPTION_LEN]) ]['STRIKE'].values

In [126]:
DF[ DF['INTRINSIC_VALUE'].abs().isin(inttrinsic.abs()) ]

Empty DataFrame
Columns: [QUOTE_UNIXTIME, QUOTE_READTIME, QUOTE_DATE, QUOTE_TIME_HOURS, UNDERLYING_LAST, EXPIRE_DATE, EXPIRE_UNIX, DTE, C_DELTA, C_GAMMA, C_VEGA, C_THETA, C_RHO, C_IV, C_VOLUME, C_LAST, C_SIZE, C_BID, C_ASK, STRIKE, P_BID, P_ASK, P_SIZE, P_LAST, P_DELTA, P_GAMMA, P_VEGA, P_THETA, P_RHO, P_IV, P_VOLUME, STRIKE_DISTANCE, STRIKE_DISTANCE_PCT, SYMBOL, INTRINSIC_VALUE]
Index: []

[0 rows x 35 columns]

In [132]:
DF[DF['INTRINSIC_VALUE'].abs().isin(inttrinsic.abs().sort_values()[:MAX_OPTION_LEN] )  ]['STRIKE']

Series([], Name: STRIKE, dtype: float64)

53    0.10
52    0.23
54    0.40
51    0.60
55    0.77
56    0.90
50    1.10
49    1.23
57    1.40
48    1.60
58    1.77
59    1.90
47    2.10
46    2.23
60    2.40
45    2.60
Name: STRIKE, dtype: float64

In [ ]:
query = f"""SELECT * FROM stagging.options_trading
            WHERE
            QUOTE_DATE = '{key_quote}'
            AND SYMBOL = '{key_symbol}'
            AND EXPIRE_DATE = '{key_expire}'
            ORDER BY STRIKE  desc """ 
data = clickhouse_client.query(query).result_rows  # Fetch data as a list of tuples
column_names = clickhouse_client.query(query).column_names  # Fetch column names
DF = pd.DataFrame(data, columns=column_names)

In [ ]:
DF[ DF['STRIKE'].isin(STRIKE_SELECT) ]

In [ ]:
#get all keys 
query = f"""
SELECT QUOTE_DATE,SYMBOL,EXPIRE_DATE FROM warehouse.options_trading
GROUP BY QUOTE_DATE,SYMBOL,EXPIRE_DATE
ORDER BY SYMBOL,EXPIRE_DATE,QUOTE_DATE
""" 
data = clickhouse_client.query(query).result_rows  # Fetch data as a list of tuples
column_names = clickhouse_client.query(query).column_names  # Fetch column names
DF_KEYS = pd.DataFrame(data, columns=column_names)

In [77]:
EOD_CSV=pd.read_csv("/app/raw/OptionsEOD.csv/qqq/qqq_eod_201403.txt", low_memory=False ) 
## rename col.
for c in EOD_CSV.columns:
    EOD_CSV = EOD_CSV.rename( columns={ c:c.strip().replace(']','').replace('[','') } )

In [78]:
EOD_CSV.columns

Index(['QUOTE_UNIXTIME', 'QUOTE_READTIME', 'QUOTE_DATE', 'QUOTE_TIME_HOURS',
       'UNDERLYING_LAST', 'EXPIRE_DATE', 'EXPIRE_UNIX', 'DTE', 'C_DELTA',
       'C_GAMMA', 'C_VEGA', 'C_THETA', 'C_RHO', 'C_IV', 'C_VOLUME', 'C_LAST',
       'C_SIZE', 'C_BID', 'C_ASK', 'STRIKE', 'P_BID', 'P_ASK', 'P_SIZE',
       'P_LAST', 'P_DELTA', 'P_GAMMA', 'P_VEGA', 'P_THETA', 'P_RHO', 'P_IV',
       'P_VOLUME', 'STRIKE_DISTANCE', 'STRIKE_DISTANCE_PCT'],
      dtype='object')

In [106]:
max(EOD_CSV['QUOTE_DATE'])

' 2014-03-31'

array([' 2014-03-03', ' 2014-03-04', ' 2014-03-05', ' 2014-03-06',
       ' 2014-03-07', ' 2014-03-10', ' 2014-03-11', ' 2014-03-12',
       ' 2014-03-13', ' 2014-03-14', ' 2014-03-17', ' 2014-03-18',
       ' 2014-03-19', ' 2014-03-20', ' 2014-03-21', ' 2014-03-24',
       ' 2014-03-25', ' 2014-03-26', ' 2014-03-27', ' 2014-03-28',
       ' 2014-03-31'], dtype=object)

In [30]:
b['STRIKE']

17194     54.63
17195     55.63
17196     56.63
17197     57.63
17198     58.63
17199     59.63
17200     60.63
17201     61.63
17202     62.63
17203     63.63
17204     64.63
17205     65.63
17206     66.63
17207     67.63
17208     68.63
17209     69.63
17210     70.63
17211     71.63
17212     72.63
17213     73.63
17214     74.63
17215     75.63
17216     76.63
17217     77.63
17218     78.63
17219     79.63
17220     80.63
17221     81.63
17222     82.63
17223     83.63
17224     84.63
17225     85.63
17226     86.63
17227     87.63
17228     88.63
17229     89.63
17230     90.63
17231     91.63
17232     92.63
17233     93.63
17234     94.63
17235     95.63
17236     96.63
17237     97.63
17238     98.63
17239     99.63
17240    100.63
17241    101.63
17242    102.63
17243    103.63
17244    104.63
17245    105.63
17246    106.63
17247    107.63
17248    108.63
17249    109.63
Name: STRIKE, dtype: float64